@charset "UTF-8";

/* INIT */
body, div{
   display: inline-block;
   margin: 0px; padding: 0px;
   width: 100%;
   text-align: center;
   font-family: Consolas, Malgun Gothic; font-size: 14px;
}
ul, ol, li, p, a, label, span {
    margin: 0px; padding: 0px;
   list-style: none;
}
a { cursor: pointer; }
a:VISITED { text-decoration: none; color: inherit; }
a:ACTIVE { text-decoration: none; color: inherit; }
a:LINK { text-decoration: none; color: inherit; }
a:HOVER { text-decoration: none; color: inherit; }

button { cursor: pointer; }

body {
   margin: 0 auto;
   min-width: 1280px;
}

input[type="text"] { padding: 3px; }
input[type="password"] { padding: 3px; }

input.w100 { width: 100px; }
input.w200 { width: 200px; }
input.w300 { width: 300px; }

button { padding: 12px 36px; border-radius: 6px; background: none; border: none; cursor: pointer; font-weight: bold; }
button.blue { background: #2080D0; color: #FFFFFF; }
button.sky { background: #30C0FF; color: #FFFFFF; }
button.orange { background: #FF8000; color: #FFFFFF; }
button.red { background: #FF0000; color: #FFFFFF; }
