@charset "UTF-8";

.header { width: 100%; padding: 20px 0; text-align: center; position: relative; border-bottom: 1px solid #BEBEBE; }
.header .title { position: absolute; left: 10px; top: 10px; }

.footer { margin-top: 10px; text-align: right; }
.footer span { margin-right: 30px; }

.wrap-content { height: auto; min-height: 400px; border: 1px solid red; }

.loginDiv { margin: 200px auto; border: 1px solid #BEBEBE; width: 400px; padding: 20px; border-radius: 20px; }
.loginDiv ul { margin: 0px auto; width: 350px; }
.loginDiv ul li { margin: 12px 0px; width: 100%; display: inline-block; }
.loginDiv ul li span { float: left; width: 100px; text-align: right; }
.loginDiv ul li input { float: right; }

