<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias type="com.es.web.common.vo.MemberVO" alias="MemberVO"/>
	</typeAliases>
	
	<!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/MainMapper.xml" />
		<mapper resource="sql/IncludeMapper.xml" />
	</mappers>
</configuration>