<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 2017. 12. 07. Luvia
 기본 테이블 구조 및 PK, UK 생성 FK 추가 할 예정
 -->
 
      
<mapper namespace="TABLE_CREATE">
	<select id="es_member" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_MEMBER (
			MBR_NO			INT(2)			PRIMARY KEY		NOT NULL		COMMENT '멤버 번호'					AUTO_INCREMENT,
			MBR_NAME		VARCHAR(12)						NOT NULL		COMMENT '멤버 닉네임',
			MBR_ROLE		VARCHAR(5)						NOT NULL		COMMENT '역할',
			MBR_MJOB		VARCHAR(8)						NOT NULL		COMMENT '메인 잡',
			MBR_SJOB		VARCHAR(8)										COMMENT '서브 잡'					DEFAULT NULL,
			MBR_ISNOW		VARCHAR(1)						NOT NULL		COMMENT '공대 참석 여부'				DEFAULT 'Y',
			MBR_ISOFC		VARCHAR(1)						NOT NULL		COMMENT '오피서 여부'				DEFAULT 'N',
			MBR_ISADM		VARCHAR(1)						NOT NULL		COMMENT '관리자 여부'				DEFAULT 'N'
		) COMMENT '공대 멤버 정보';
	</select>
	
	<select id="es_playjob" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_PLAYJOB (
			JOB_NO			INT(2)			PRIMARY KEY		NOT NULL		COMMENT '잡 번호(PK)'				AUTO_INCREMENT,
			JOB_NAME		VARCHAR(6)						NOT NULL		COMMENT '잡 명칭',
			JOB_CATE		VARCHAR(8)						NOT NULL		COMMENT '잡 분류(TANK, HEAL, DEAL)',
			JOB_ROLE		VARCHAR(8)						NOT NULL		COMMENT '잡 역할(MT, HL, etc..)'
		) COMMENT '잡(JOB) 정보';
	</select>
	
	<select id="es_member_farm" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_MEMBER_FARM (
			MBF_NO			INT(4)			PRIMARY KEY		NOT NULL		COMMENT '멤버 파밍 번호(PK)'			AUTO_INCREMENT,
			MBF_MBR_NO		INT(4)			UNIQUE			NOT NULL		COMMENT '공대 멤버 테이블에 조인(UK)',
			MBF_RGN_NO		INT(4)			UNIQUE			NOT NULL		COMMENT '획득 목록 테이블에 조인(UK)',
			MBF_UPD_DATE	TIMESTAMP						NOT NULL		COMMENT '파밍 상태 업데이트 일',
			MBF_WEAPON		VARCHAR(20)										COMMENT '무기',
			MBF_HEAD		VARCHAR(20)										COMMENT '머리',
			MBF_CHEST		VARCHAR(20)										COMMENT '상의',
			MBF_HAND		VARCHAR(20)										COMMENT '장갑',
			MBF_WAIST		VARCHAR(20)										COMMENT '허리',
			MBF_LEGS		VARCHAR(20)										COMMENT '하의',
			MBF_FOOT		VARCHAR(20)										COMMENT '신발',
			MBF_NECK		VARCHAR(20)										COMMENT '목걸이',
			MBF_EAR			VARCHAR(20)										COMMENT '귀걸이',
			MBF_WRIST		VARCHAR(20)										COMMENT '팔찌',
			MBF_RING1		VARCHAR(20)										COMMENT '반지1',
			MBF_RING2		VARCHAR(20)										COMMENT '반지2'
		) COMMENT '멤버별 파밍 진행 상황';
	</select>
	
	<select id="es_drop_item_list" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_DROP_ITEM_LIST (
			DIL_NO         		INT(4)			PRIMARY KEY		NOT NULL		COMMENT '드롭 아이템 번호(PK)'		AUTO_INCREMENT,
			DIL_DGN_CODE		INT(4)			UNIQUE			NOT NULL		COMMENT '레이드 목표 테이블과 조인',
			DIL_USEABLE_ROLE	VARCHAR(8)		UNIQUE			NOT NULL		COMMENT '사용 가능 역할. 잡 테이블과 조인',
			DIL_USEABLE_JOB		VARCHAR(6)		UNIQUE			NOT NULL		COMMENT '사용 가능 직업. 잡 테이블과 조인',
			DIL_NAME			VARCHAR(20)		UNIQUE			NOT NULL		COMMENT '아이템 명칭',
			DIL_ITM_LV			INT(4)							NOT NULL		COMMENT '아이템 레벨',
			DIL_EQP_PARTS		VARCHAR(4)						NOT NULL		COMMENT '아이템 장착 부위'
		) COMMENT '전체 드랍 아이템 목록';
	</select>
	
	<select id="es_raid_goal" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_RAID_GOAL (
			RGN_DGN_CODE		INT(4)			PRIMARY KEY		NOT NULL		COMMENT '던전 코드(PK)'				AUTO_INCREMENT,
			RGN_DGN_NAME		VARCHAR(20)						NOT NULL		COMMENT '던전 이름',
			RGN_DNG_FLOOR		VARCHAR(10)						NOT NULL		COMMENT '층 수',
			RGN_DGN_ISRAID		VARCHAR(1)						NOT NULL		COMMENT '레이드 던전 여부'			DEFAULT 'Y'	
		) COMMENT '공대 진행 던전 목록';
	</select>
	
	<select id="es_raid_progress" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_RAID_PROGRESS (
			RPG_TRY_NO			INT(4)			PRIMARY KEY		NOT NULL		COMMENT '공대 일정 번호(PK)'			AUTO_INCREMENT,
			RPG_TRY_DCNT		VARCHAR(6)						NOT NULL		COMMENT '공대 트라이 DAY(EX: 1일)',
			RPG_TRY_WCNT		VARCHAR(6)						NOT NULL		COMMENT '공대 트라이 WEEK(EX: 1주)',
			RPG_TRY_GOAL		VARCHAR(20)						NOT NULL		COMMENT '공대 트라이 목표',
			RPG_SUC_GOAL		VARCHAR(20)						NOT NULL		COMMENT '공대 클리어 달성',
			RPG_TRY_DATE		TIMESTAMP										COMMENT '공대 일정을 진행한 날짜',
			RPG_TRY_CNCL		TIMESTAMP										COMMENT '공대 일정을 진행하지 못한 날짜'
		) COMMENT '공대 일정 진행 정보';
	</select>
	
	<select id="es_raid_gain" resultType="String">
		CREATE TABLE IF NOT EXISTS ES_RAID_GAIN (
			RGN_GAIN_NO		INT(4)			PRIMARY KEY		NOT NULL		COMMENT '루팅 목록 번호(PK)'		AUTO_INCREMENT,
			RGN_GAIN_MBR_NO		INT(4)			UNIQUE			NOT NULL		COMMENT '획득한 멤버 번호',
			RGN_GAIN_ITEM_NO	INT(4)			UNIQUE			NOT NULL		COMMENT '획득한 아이템 번호',
			RGN_GAIN_TRY_NO		INT(4)			UNIQUE			NOT NULL		COMMENT '획득한 공대 트라이 주차',
			RGN_GAIN_DGN_CODE	INT(4)			UNIQUE			NOT NULL		COMMENT '획득한 던전 코드'
		) COMMENT '공대원 루팅 목록';
	</select>
	
</mapper>	

